<div id="menu">
    <nav>
      <ul>
        <li><a href="#">스타벅스</a></li>
        <li><a href="#">이디야</a></li>
        <li><a href="#">커피빈</a></li>
        <li><a href="#">투썸플레이스</a></li>
        <li><a href="#">엔제리너스</a></li>
      </ul>
    </nav>
  </div>
  <div id="line">
  </div>
<p id="notice"><%= notice %></p>

<h1 style="border-bottom:2px solid black; padding-bottom:10px;">브랜드 - 제품 (DB사용)</h1>

<div style="width:1000px; height:800px; margin-left:200px;">
  <div style="width:400px; height:800px; float:left;" id="detail-info">
    <img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/orangelatte_bback.png" style="width:380px; height:280px; margin-top:20px;">
    <div style="margin-top:15px;">
      <h5>현장이미지</h5>
      <div>
        <img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/orangelatte_bback.png" style="width:65px; height:65px; margin-left:5px;">
        <img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/orangelatte_bback.png" style="width:65px; height:65px; margin-left:5px;">
        <img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/orangelatte_bback.png" style="width:65px; height:65px; margin-left:5px;">
        <img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/orangelatte_bback.png" style="width:65px; height:65px; margin-left:5px;">
        <img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/orangelatte_bback.png" style="width:65px; height:65px; margin-left:5px;">
      </div>
    </div>
    <div style="margin-top:15px; height:40px;">
      <p style="width:150px; margin-left:40px; float:left; font-size:20px;">●좋아요(DB)</p><p style="width:150px; margin-left:15px; float:left; font-size:20px;">●싫어요(DB)</p>
    </div>
    <div style="margin-top:15px;">
      <h4>댓글</h4>
      <form action="#">
        <input type="text"><input type="button" value="등록" style="width:50px;">
      </form>
      <div style="margin-top:15px;">
        <p>각 댓글이 보일 부분입니다! DB작업 이후 반복문으로!</p>
        <p>각 댓글이 보일 부분입니다! DB작업 이후 반복문으로!</p>
        <p>각 댓글이 보일 부분입니다! DB작업 이후 반복문으로!</p>
        <p>각 댓글이 보일 부분입니다! DB작업 이후 반복문으로!</p>
        <p>각 댓글이 보일 부분입니다! DB작업 이후 반복문으로!</p>
      </div>
    </div>
  </div>
  <div style="float:left; width:400px; height:800px; margin-top:20px; margin-left:80px;">
    <div>
      <h3>● 제품명(DB사용)</h3>
      <p>간략한 설명이 들어 갈 부분입니다. DB를 사용하겠지요 아마도?? 디비에 저장된 설명을 가져오기로!</p>
      <p>tall : 6000원(DB)</p>
      <p>grande : 7000원(DB)</p>
      <p>venti : 8000원(DB)</p>
    </div>
    <div style="margin-top:35px;">
      <h4>● 추천멘트(DB)</h4>
      <p>여기에도 간략한 코멘트가 들어갈 것이고,,,,,,,,, 이것 또한 디비에 저장된걸 가져오는 방식으로 진행! 주석처럼 사용했슴다.</p>
    </div>
    <div style="margin-top:35px;">
          <h2>매장위치</h2>
          <div id="map" style="width:300px; height:200px; float:left;"></div>
          <script>
          function initMap() {
            var uluru = {lat: 37.507040, lng: 127.033747};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtC8JQTzZfMZle3SdEep0lBmhYFFOECw8&callback=initMap"
        async defer></script>
    </div>

  </div>

</div>
