<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>The Best Coffee</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 37.507040, lng: 127.033747};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvFn-iTWJjVc_uFC8MPQwjUssg7GTg3SE&callback=initMap">
    </script>
  </body>
</html>
