<div class="container">
  <div class="popular">
    <h3>이달의 인기상품</h3>
    <img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/americano_bback.png" id="popularMenu">
  </div>
  <div id="brandmenu">
    <div class="brands">
      <p><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/bback.png"></p>
      <div class="brand">
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/americano_bback.png"><br><p style="text-align:center">아메리카노</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/balatte_bback.png"><br><p style="text-align:center">바닐라 라떼</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/orangelatte_bback.png"><br><p style="text-align:center">오렌지 라떼</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/sweetlatte_bback.png"><br><p style="text-align:center">연유라떼</p></div>
      </div>
    </div>
    <div class="brands">
      <p><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%8A%A4%ED%83%80%EB%B2%85%EC%8A%A4.jpg"></p>
      <div class="brand">
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EB%82%98%EC%9D%B4%ED%8A%B8%EB%A1%9C+%EC%BD%9C%EB%93%9C%EB%B8%8C%EB%A3%A8_%EC%8A%A4%EB%B2%85.jpg"><br><p style="text-align:center">나이트로</p> <p style="text-align:center">콜드브루</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%95%84%EC%9D%B4%EC%8A%A4+%EC%B9%B4%ED%8E%98+%EC%95%84%EB%A9%94%EB%A6%AC%EC%B9%B4%EB%85%B8_%EC%8A%A4%EB%B2%85.jpg"><br><p style="text-align:center">아이스카페</p><p style="text-align:center">아메리카노</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%97%90%EC%8A%A4%ED%94%84%EB%A0%88%EC%86%8C+%EB%A7%88%EB%81%BC%EC%95%84%EB%98%90_%EC%8A%A4%EB%B2%85.jpg"><br><p style="text-align:center">에스프레소</p><p style="text-align:center"> 마끼아또</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%97%90%EC%8A%A4%ED%94%84%EB%A0%88%EC%86%8C+%EC%BD%98+%ED%8C%8C%EB%83%90_%EC%8A%A4%EB%B2%85.jpg"><br><p style="text-align:center">에스프레소</p><p style="text-align:center"> 콘파냐</p></div>
      </div>
    </div>
    <div class="brands">
      <p><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%9A%94%EA%B1%B0%ED%94%84%EB%A0%88%EC%86%8C.gif"></p>
      <div class="brand">
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EB%8B%88%ED%8A%B8%EB%A1%9C%EC%BD%9C%EB%93%9C%EB%B8%8C%EB%A3%A8_%EC%9A%94%ED%94%84.jpg"><br><p style="text-align:center">니트로</p><p style="text-align:center"> 콜드브루</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EB%B0%94%EB%8B%90%EB%9D%BC%EB%9D%BC%EB%96%BC%EC%95%84%EC%9D%B4%EC%8A%A4_%EC%9A%94%ED%94%84.jpg"><br><p style="text-align:center">바닐라라떼</p><p style="text-align:center"> 아이스</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%95%84%EC%9D%B4%EC%8A%A4+%EC%B9%B4%ED%8E%98%EB%AA%A8%EC%B9%B4_%EC%9A%94%ED%94%84.jpg"><br><p style="text-align:center">아이스</p><p style="text-align:center">카페모카</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%95%84%EC%9D%B4%EC%8A%A4+%EC%B9%B4%ED%91%B8%EC%B9%98%EB%85%B8_%EC%9A%94%ED%94%84.jpg"><br><p style="text-align:center">아이스</p><p style="text-align:center">카푸치노</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%95%84%EC%9D%B4%EC%8A%A4+%ED%99%94%EC%9D%B4%ED%8A%B8+%EC%B9%B4%ED%8E%98%EB%AA%A8%EC%B9%B4_%EC%9A%94%ED%94%84.jpg"><br><p style="text-align:center">아이스화이트</p><p style="text-align:center">카페모카</p></div>
      </div>
    </div>
    <div class="brands">
      <p><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%BB%A4%ED%94%BC%EB%B9%88.jpg"></p>
      <div class="brand">
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EB%AA%A8%EC%B9%B4+%EC%95%84%EC%9D%B4%EC%8A%A4+%EB%B8%94%EB%A0%8C%EB%94%94%EB%93%9C+S_%EC%BB%A4%ED%94%BC%EB%B9%88.jpg"><br><p style="text-align:center">모카 아이스</p><p style="text-align:center">블렌디드</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%BA%90%EB%9F%AC%EB%A9%80+%EC%95%84%EC%9D%B4%EC%8A%A4+%EB%B8%94%EB%A0%8C%EB%94%94%EB%93%9C_%EC%BB%A4%ED%94%BC%EB%B9%88.jpg"><br><p style="text-align:center">캐러멀 아이스</p><p style="text-align:center">블렌디드</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%ED%97%A4%EC%9D%B4%EC%A6%90%EB%84%9B+%EC%95%84%EC%9D%B4%EC%8A%A4+%EB%B8%94%EB%A0%8C%EB%94%94%EB%93%9C_%EC%BB%A4%ED%94%BC%EB%B9%88.jpg"><br><p style="text-align:center">헤이즐넛 아이스</p><p style="text-align:center">블렌디드</p></div>
        <div style="float:left" class="itemname"><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%ED%99%94%EC%9D%B4%ED%8A%B8+%EC%B5%B8%EC%BD%94%EB%A0%9B+%EB%93%9C%EB%A6%BC+%EC%95%84%EC%9D%B4%EC%8A%A4+%EB%B8%94%EB%A0%8C%EB%94%94%EB%93%9C_%EC%BB%A4%ED%94%BC%EB%B9%88.jpg"><br><p style="text-align:center">화이트 초코렛 드림</p><p style="text-align:center">아이스 블렌디드</p></div>
      </div>
    </div>
    <div class="brands">
      <p><img src="https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%ED%88%AC%EC%8D%B8%ED%94%8C%EB%A0%88%EC%9D%B4%EC%8A%A4.jpg"></p>
      <div class="brand">
      </div>
    </div>
  </div>
</div>

<!-- 자바스크립트 -->
<script>
  $(document).ready(function(){
    var $imgs = ["https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/americano_bback.png",
                "https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EB%8B%88%ED%8A%B8%EB%A1%9C%EC%BD%9C%EB%93%9C%EB%B8%8C%EB%A3%A8_%EC%9A%94%ED%94%84.jpg",
                "https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EB%AA%A8%EC%B9%B4+%EC%95%84%EC%9D%B4%EC%8A%A4+%EB%B8%94%EB%A0%8C%EB%94%94%EB%93%9C+S_%EC%BB%A4%ED%94%BC%EB%B9%88.jpg",
                "https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%ED%97%A4%EC%9D%B4%EC%A6%90%EB%84%9B+%EC%95%84%EC%9D%B4%EC%8A%A4+%EB%B8%94%EB%A0%8C%EB%94%94%EB%93%9C_%EC%BB%A4%ED%94%BC%EB%B9%88.jpg",
                "https://s3.ap-northeast-2.amazonaws.com/coffeeinfo/uploads/%EC%BA%90%EB%9F%AC%EB%A9%80+%EC%95%84%EC%9D%B4%EC%8A%A4+%EB%B8%94%EB%A0%8C%EB%94%94%EB%93%9C_%EC%BB%A4%ED%94%BC%EB%B9%88.jpg"
    ];
    var $image = $("#popularMenu");
    var index=0;


      setInterval(function(){
        index++;
        if(index>=$imgs.length){
          index=0;
        }
        $image.attr("src",$imgs[index]);
      },1500);

  })
</script>
